<main class="container-main">
  <mat-card class="card" *ngFor="let resposta of respostas">
    <p><strong>Afirmação: </strong>{{ resposta.afirmacao }}</p>

    <div>
      <strong>Justificativa</strong>
      <p>{{ resposta.justificativa }}</p>
    </div>

    <p><strong>Resultado: </strong>{{ resposta.resultado }}</p>

    <p><strong>Data de envio: </strong>{{ resposta.data_envio | date }}</p>

    <mat-divider />

    <div class="footer">
      <button mat-raised-button color="primary" [routerLink]="['editar', resposta.id]">Editar</button>
      <button mat-raised-button color="warn" (click)="onSubmit(resposta.id)">Excluir</button>
    </div>
  </mat-card>
</main>
