<main class="container-main">
  <mat-card class="card">
    <p><strong>Afirmação: </strong>Sim</p>

    <div>
      <strong>Justificativa</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, accusamus corporis voluptatum eaque adipisci provident, nihil doloremque porro doloribus cupiditate saepe ab vel fugiat. Explicabo similique numquam iste molestiae ipsa.</p>
    </div>

    <p><strong>Resultado: </strong>Sim</p>

    <mat-divider />

    <div class="footer">
      <button mat-raised-button color="primary" routerLink="editar/1">Editar</button>
      <button mat-raised-button color="warn">Excluir</button>
    </div>
  </mat-card>

  <mat-card class="card">
    <p><strong>Afirmação: </strong>Sim</p>

    <div>
      <strong>Justificativa</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, accusamus corporis voluptatum eaque adipisci provident, nihil doloremque porro doloribus cupiditate saepe ab vel fugiat. Explicabo similique numquam iste molestiae ipsa.</p>
    </div>

    <p><strong>Resultado: </strong>Sim</p>

    <mat-divider />

    <div class="footer">
      <button mat-raised-button color="primary" routerLink="editar/1">Editar</button>
      <button mat-raised-button color="warn">Excluir</button>
    </div>
  </mat-card>

  <mat-card class="card">
    <p><strong>Afirmação: </strong>Sim</p>

    <div>
      <strong>Justificativa</strong>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, accusamus corporis voluptatum eaque adipisci provident, nihil doloremque porro doloribus cupiditate saepe ab vel fugiat. Explicabo similique numquam iste molestiae ipsa.</p>
    </div>

    <p><strong>Resultado: </strong>Sim</p>

    <mat-divider />

    <div class="footer">
      <button mat-raised-button color="primary" routerLink="editar/1">Editar</button>
      <button mat-raised-button color="warn">Excluir</button>
    </div>
  </mat-card>
</main>
