<form class="container-main" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <input matInput [ngModel]="resposta.id" name="id" />
    <label class="label">Afirmação</label>
      <mat-radio-group
        class="radio-group-box"
        [ngModel]="resposta.afirmacao" formControlName="afirmacao">

        <mat-radio-button class="radio-button" value="S">Sim</mat-radio-button>
        <mat-radio-button class="radio-button" value="N">Não</mat-radio-button>
      </mat-radio-group>
  </mat-card>

  <mat-card class="card">
    <mat-form-field class="example-full-width">
      <mat-label>Justificativa</mat-label>
      <textarea matInput [ngModel]="resposta.justificativa" formControlName="justificativa"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card class="card">
    <label class="label">Resultado</label>
      <mat-radio-group
        class="radio-group-box"
        [ngModel]="resposta.resultado" formControlName="resultado">

        <mat-radio-button class="radio-button" value="S">Sim</mat-radio-button>
        <mat-radio-button class="radio-button" value="N">Não</mat-radio-button>
      </mat-radio-group>
  </mat-card>

  <div class="footer">
    <button mat-raised-button color="primary" type="submit">Salvar</button>
    <button mat-raised-button color="basic" routerLink="/listar">Voltar</button>
  </div>
</form>
